/wp-admin
/wp-includes
/wp-config.php
/wp-config-sample.php
/wp-content/uploads
/wp-content/uploads
/vendor
/node_modules
/wp-content/index.php
/wp-content/cache
/wp-content/themes/index.php
/wp-content/themes/twentytwentyfour
/wp-content/themes/coolkidsnetwork/vendor
/wp-content/themes/coolkidsnetwork/node_modules
/wp-content/themes/coolkidsnetwork/phpcs.xml
/wp-content/themes/coolkidsnetwork/.php-cs-fixer.php
/wp-content/themes/coolkidsnetwork/.php-cs-fixer.cache
*.log
/*.php
/*.pdf
*.map
.env
.htaccess
license.txt
readme.html
/composer.json
.DS_Store
.idea/
.vscode/